In [97]:
import numpy as np

In [98]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}

def apply_discounts(products, stocks):
    for key,value in products.items():
        for i,j in stocks.items():
            j = j.strip('%')
            j = int(j)
        if key == i:
            products.update({key:(value-100)})
        return products
    
print(apply_discounts(products, stocks))

## {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

{'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}

In [99]:
import pandas as pd

In [100]:
solar_data = pd.read_csv('solarpower.csv')
solar_data

           date  cum_power
0    2017-01-01    20111.0
1    2017-01-02    20112.0
2    2017-01-03    20115.0
3    2017-01-04    20117.0
4    2017-01-05    20119.0
..          ...        ...
659  2018-10-22    28101.0
660  2018-10-23    28109.0
661  2018-10-24    28115.0
662  2018-10-25    28117.0
663  2018-10-26    28120.0

[664 rows x 2 columns]

In [101]:
solar_data.shape[0]

664

In [102]:
solar_data.loc[45:46]

          date  cum_power
45  2017-02-15       -1.0
46  2017-02-16    20262.0

In [107]:
for i in range(solar_data.shape[0]):
    if solar_data.loc[i, 'cum_power'] == -1:
        #print(solar_data[i, 'cum_power'])
        solar_data.loc[i,'cum_power'] = (solar_data.loc[i-1, 'cum_power'] + solar_data[i-1,'cum_power'])/2

KeyError: (44, 'cum_power')